*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{    
  justify-content: center;
  background: linear-gradient(90deg,rgba(255, 0, 0, 0.653),rgba(0, 0, 255, 0.676));
}
.container{
  box-shadow: 4px 4px 15px black;
  margin: 100px auto;
  border: 1px solid black;
  width: 50%;
  display: flex;
  background: rgba(0, 247, 243, 0.776);
  flex-direction: column;
  border-radius: 10px;
}
h1{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

h1::after{
  content: '';
  display: block;
  width: 35%;
  height: 2.5px;
  background-color: black;
  position: relative;
  left: 33%;
  top: 5px;
}
input{
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 3px;
  padding: 10px;
  width: 40%;
}
label{
  margin: 3px;
  text-align: justify;
}
.name,.Email,.Age,.Password,.dob {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.name input{
  margin-left: 5px;
}
.Email input{
  margin-left: 33px;
}
.dob input{
  margin-left: 10px;
}
.Age input{
  margin-left: 45px;
}
.gender input{
  display: flex;
  font-size: 20px;
  /* width: 20%; */
}

.gender .gender-input{
  margin-left: 17rem;
  display: flex;
}

.gender label{
  margin-left: 20px;
}

.gender .gender-input span{
  padding-left: 8px;
  margin-right: 30px;
}

.gender{
  display: flex;
  margin-left:45px;
}
.btn{
  text-align: center;
}
.btn button{
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
}
.btn button:hover{
  border: none;
  outline: none;
  background-color: goldenrod;
  color: white;
}

table{
  padding: 10px;
}

table tbody{
  margin-top: 10px;
  text-align: center;
}